#movieHeader {
  margin: 0 auto;
  padding: 0;
  display: block;
  width: 100%;
  transition: 1s;
  background-color: black;
}

#movieHeaderTwo {
  position: absolute;
  top: 0vw;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  /*transition: 1s;*/
  opacity: 0;
  /*background-color: black;*/
}
/*
#customImage {
	height: 15vw;
	width: 13.3vw;
	padding: 0 ;
	position: absolute;
	display: block;
	margin: 0 41.8vw 0 43.2vw;
	top: 11.9vw;
} */

#customHeader {
  display: none;
  padding: 0;
  margin: 0 23.5% 0 27.5%;
  width: 50%;
  position: absolute;
  float: left;
  top: 12vw;
  font-size: 10vw;
  /*border-radius: 10px;
    background: black;
    background: -webkit-linear-gradient(left top, rgba(0,0,0,0.6), rgba(0,0,0,0.95));
    background: -o-linear-gradient(bottom right, rgba(0,0,0,0.6), rgba(0,0,0,0.95));
    background: -moz-linear-gradient(bottom right, rgba(0,0,0,0.6), rgba(0,0,0,0.95));
    background: linear-gradient(to bottom right, rgba(0,0,0,0.7), rgba(0,0,0,0.7));*/
}

.howitworksImages {
  height: 20vw;
  display: block;
  margin: auto;
  /*width: 20vw;*/
}
.align{
  text-align: center;
}

.sectionTitle {
  font-size: 400%;
  text-align: center;
}

@media (max-width: 992px) {
  .imgStyling, .p-content{
    display: none;
  }
    #movieHeaderTwo, #movieHeader{
    padding-top: 100px;
  }
}

@media (max-width: 350px) {
  #movieHeaderTwo, #movieHeader{
    padding-top: 200px;
  }

}




@media (max-width: 600px) {
  #panels{
  display: none;
  }
}

.customSection {
  padding: 0rem 0;
}

.portfolioVideo {
  margin: 0 auto;
  padding: 0;
  display: block;
  width: 100%;
  /*border-radius: 50%;*/
  /*   height: 20vw;
*/
}

.showcase .showcase-text {
  /*padding: 3rem 0;*/
}

.showcase .showcase-img {
  /*min-height: 30rem;*/
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 0 7rem;
  }

}
@media (max-width: 1200px) {
  .showcase{
    margin-top: 20px;
  }
}


.customFont {
  font-family: "Exo", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Exo", sans-serif;
}

#signup {
  padding: 3rem 0;
  padding-bottom: 145px;
}

#pricingList {
  display: inline;
}

#services2 {
  background: black;
  color: white;
}

.teamImages {
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
}



.mutedText {
  color: lightgray;
}

.tokenSale {
  /*height: 16vw;*/
  padding: 0.5vw;
  border: gray solid 1px;
  border-radius: 10px;
}

.tokenSaleContainer {
  padding: 0.5vw;
}
.round {
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 12px;

  /* Firefox 1-3.6 */
  -moz-border-radius: 12px;

  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 12px;
}
.bordersolid {
  border: 1px solid grey;
}
@media (max-width: 768px) {
  .timeline-desktop {
    display: none;
  }
}
@media (min-width: 768px) {
  .mobile-timeline {
    display: none;
  }
}
/*
.mobile-timeline-section {
  content: "";
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
} */
