.main-timeline-section {
  position: relative;
  width: 100%;
  margin: auto;
  height: 426px;
}
.main-timeline-section .timeline-start,
.main-timeline-section .timeline-end {
  position: absolute;
  background: #af201c;
  border-radius: 100px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
}
.main-timeline-section .timeline-end {
  right: 0px;
}
.main-timeline-section .conference-center-line {
  position: absolute;
  width: 100%;
  height: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: #af201c;
}
.timeline-article {
  width: 20%;
  position: relative;
  /* left: 10%; */
  top: -65px;
  min-height: 300px;
  float: right;
}
.timeline-article .content-date {
  position: absolute;
  top: 35%;
  left: 40px;
  font-size: 18px;
}
.timeline-article .meta-date {
  position: absolute;
  top: 50%;
  left: 95px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #fff;
  border: 1px solid #af201c;
}
.timeline-article .content-box {
  box-shadow: 2px 2px 4px 0px #c1c1c1;
  border: 1px solid #af201c;
  border-radius: 5px;
  background-color: #fff;
  width: 180px;
  position: absolute;
  top: 60%;
  left: 14px;
  padding: 10px;
}
.timeline-article-top .content-box:before {
  content: " ";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
  border: 10px solid transparent;
  border-bottom-color: #af201c;
}
.timeline-article-bottom .content-date {
  top: 59%;
}
.timeline-article-bottom .content-box {
  top: 0%;
}
.timeline-article-bottom .content-box:before {
  content: " ";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  border: 10px solid transparent;
  border-top-color: #af201c;
}
/* mobile timeline */
@media (max-width: 992px) {
  .timeline-article .meta-date {
    left: 61px;
  }
  .timeline-article h3 {
    font-size: 1.25rem;
  }
  .timeline-article .content-box {
    width: 118px;
  }
  .timeline-article .content-date {
    left: 11px;
  }
  .timeline-article .content-date span {
    font-size: 16px;
  }
}
